# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Temporary files for editors
.#*
.*.swp

# Editors
.cache/
.clang_complete
.clang-format
.clangd
.vscode/
build/

# CMake
CMakePresets.json
CMakeUserPresets.json

# Extensions
.devcontainer/
