# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Temporary files for editors
.#*
.*.swp

# Core dumps
core

# Editors
.clang-format
build/
out/
.vscode/
.clang_complete

# CMake
CMakePresets.json
CMakeUserPresets.json

# Extensions
.devcontainer/
